<div class="mc-day-of-week">
    <table>
        <tbody>
            <tr>
                <td ng-class="{'is-active':IsCheck('1'),'is-enable':!disableDay}" ng-click="chooseDay('1')">
                    T2
                </td>
                <td ng-class="{'is-active':IsCheck('2'),'is-enable':!disableDay}" ng-click="chooseDay('2')">
                    T3
                </td>
                <td ng-class="{'is-active':IsCheck('3'),'is-enable':!disableDay}" ng-click="chooseDay('3')">
                    T4
                </td>
                <td ng-class="{'is-active':IsCheck('4'),'is-enable':!disableDay}" ng-click="chooseDay('4')">
                    T5
                </td>
                <td ng-class="{'is-active':IsCheck('5'),'is-enable':!disableDay}" ng-click="chooseDay('5')">
                    T6
                </td>
                <td ng-class="{'is-active':IsCheck('6'),'is-enable':!disableDay}" ng-click="chooseDay('6')">
                    T7
                </td>
                <td ng-class="{'is-active':IsCheck('0'),'is-enable':!disableDay}" ng-click="chooseDay('0')">
                    CN
                </td>
            </tr>
        </tbody>
    </table>
</div>