<div class="mc-pain-scale">
    <table>
        <tbody>
            <tr>
                <td ng-class="{'is-active':modelPainScale==='0','is-enable':!disablePainScale}" ng-click="choosePainScale('0')">
                    Không đau
                </td>
                <td ng-class="{'is-active':modelPainScale==='1','is-enable':!disablePainScale}" ng-click="choosePainScale('1')">
                    1
                </td>
                <td ng-class="{'is-active':modelPainScale==='2','is-enable':!disablePainScale}" ng-click="choosePainScale('2')">
                    2
                </td>
                <td ng-class="{'is-active':modelPainScale==='3','is-enable':!disablePainScale}" ng-click="choosePainScale('3')">
                    3
                </td>
                <td ng-class="{'is-active':modelPainScale==='4','is-enable':!disablePainScale}" ng-click="choosePainScale('4')">
                    4
                </td>
                <td ng-class="{'is-active':modelPainScale==='5','is-enable':!disablePainScale}" ng-click="choosePainScale('5')">5</td>
                <td ng-class="{'is-active':modelPainScale==='6','is-enable':!disablePainScale}" ng-click="choosePainScale('6')">6</td>
                <td ng-class="{'is-active':modelPainScale==='7','is-enable':!disablePainScale}" ng-click="choosePainScale('7')">7</td>
                <td ng-class="{'is-active':modelPainScale==='8','is-enable':!disablePainScale}" ng-click="choosePainScale('8')">8</td>
                <td ng-class="{'is-active':modelPainScale==='9','is-enable':!disablePainScale}" ng-click="choosePainScale('9')">9</td>
                <td ng-class="{'is-active':modelPainScale==='10','is-enable':!disablePainScale}" ng-click="choosePainScale('10')">10</td>
                <td ng-class="{'is-active':modelPainScale==='11','is-enable':!disablePainScale}" ng-click="choosePainScale('11')">Đau nặng</td>
            </tr>
        </tbody>
    </table>
</div>