<!-- SIDEBAR - START -->
<!-- MAIN MENU - START -->

<div class='logo-area'>

</div>
<perfect-scrollbar class="page-sidebar-wrapper" id="main-menu-wrapper" wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20" menuheight>

    <!-- nav -->
    <!--<div class='logo-area'>
        <a ui-sref="app.home">
            <img src="img/logotp.png" class="img-responsive" />
        </a>
    </div>-->
    <nav ui-nav ng-include="'app/components/app/nav.html'"></nav>

</perfect-scrollbar>
<!-- MAIN MENU - END -->
<!--  SIDEBAR - END -->
