<!--
<copyright company="nhantinsoft.vn">
Author: NTS-TUNGNT
Created Date: 18/09/2016 12:09
</copyright>
-->
<style type="text/css">
    .app-modal .modal-dialog {
        width: 900px;
        height: 900px;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title text-danger text-uppercase">{{vmModal.ModalTitle}}</h3>
</div>
<div class="modal-body padding-10">
    <form name="outerForm" class="tab-form-demo">
        <uib-tabset active="activeForm">
            <uib-tab index="1" heading="THÔNG TIN KHÁCH HÀNG">
                <!--Tab thông tin khách hàng-->
                <div class="row">
                    <div class="col-md-3 ">
                        <div class="row">
                            <div class="col-md-12 padding-5 padding-right-20 bg-avata">
                                <div class="actions panel_actions pull-right padding-right-5">
                                    <i class="box_toggle material-icons actions-camera btn-file" tooltip-placement="bottom" uib-tooltip="Thay ảnh" tooltip-class="animated fadeIn" >
                                        photo_camera
                                        <input type="file" id="fileInput" file-model="vmModal.File" accept="image/*" change-file="changeFile()"  />
                                    </i>
                                </div>
                            </div>
                            <div class="col-md-12 img-avata">
                                <img class="img-thumbnail" ng-src="{{ImagePath}}" onerror="this.src = '/img/patient/noavatar.gif'">
                            </div>
                            <!--<div class="col-md-12 text-center padding-5">
                                <img class="img-action" ng-if="" style="width:30px" ng-src="img/patients/package.png" alt="" src="data/members/person-1.png">&nbsp;
                            </div>-->
                        </div>
                        <!--<div class="row" style="margin-left:15px;">Ảnh đại diện</div>-->
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group form-group-custom">
                                    <label class="form-label col-sm-4">Tên khách hàng: <span class='text-danger text-strong'>&nbsp;*</span></label>
                                    <div class="controls col-sm-8">
                                        <input type="text" class="form-control" data-ng-model="vmModal.Model.CustomerName" maxlength="300" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group form-group-custom">
                                    <label class="form-label col-sm-4">Ngày sinh: </label>
                                    <div class="controls col-sm-8">
                                        <datepicker-next model-date="vmModal.Model.DateOfBirthShow" class="" date-change="vmModal.ChangeDateOfBirth"></datepicker-next>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group form-group-custom">
                                    <label class="form-label col-sm-4">Tuổi: </label>
                                    <div class="controls col-sm-8">
                                        <input type="number" class="form-control" data-ng-model="vmModal.Model.Age" maxlength="3" min="0" ng-change="vmModal.ChangeAge()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group form-group-custom">
                                    <label class="form-label col-sm-4">SĐT: <span class='text-danger text-strong'>&nbsp;*</span></label>
                                    <div class="controls col-sm-8">
                                        <input type="text" class="form-control inputnumber" maxlength="50" min="0" data-ng-model="vmModal.Model.PhoneNumber" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group form-group-custom">
                                    <label class="form-label col-sm-4">Email: </label>
                                    <div class="controls col-sm-8">
                                        <input type="text" name="email" class="form-control" data-ng-model="vmModal.Model.Email" maxlength="500" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group form-group-custom">
                                    <label class="form-label col-sm-4">Địa chỉ: </label>
                                    <div class="controls col-sm-8">
                                        <input type="text" name="email" class="form-control" data-ng-model="vmModal.Model.Address" maxlength="500" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div style="overflow:auto; width:100%;height:350px;">
                                    <table class="table table-bordered" style="table-layout:fixed;">
                                        <thead>
                                            <tr>
                                                <th width="50px">STT</th>
                                                <th width="150px">Biến số</th>
                                                <th width="180px">Loại xe</th>
                                                <th width="200px">Vé tháng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="row in vmModal.Model.listVehicle">
                                                <td class="text-center" width="50px">{{row.index}}</td>
                                                <td width="150px">{{row.PlateNumber}}</td>
                                                <td width="180px">{{row.VehicleName}}</td>
                                                <td width="200px">{{row.TicketMonthStatus}}</td>
                                               
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <uib-tab index="2" heading="VÉ THÁNG HIỆN TẠI">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div style="overflow:auto; width:100%;height:350px;">
                            <table class="table table-bordered" style="table-layout:fixed;">
                                <thead>
                                    <tr>
                                        <th width="50px">STT</th>
                                        <th width="150px">Số vé</th>
                                        <th width="150px">Biến số</th>
                                        <th width="180px">Loại xe</th>
                                        <th width="200px">Ngày bắt đầu sử dụng</th>
                                        <th width="200px">Ngày kết thúc sử dụng</th>
                                        <th width="120px">Ngày mua vé</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in vmModal.Model.listTicketMonth">
                                        <td class="text-center" width="50px">{{row.index}}</td>
                                        <td width="150px">{{row.TicketNumber}}</td>
                                        <td width="150px">{{row.PlateNumber}}</td>
                                        <td width="180px">{{row.VehicleName}}</td>
                                        <td width="200px">{{row.DateStart}}</td>
                                        <td width="200px">{{row.DateEnd}}</td>
                                        <td width="120px">{{row.RegistrationDate | date: 'dd/MM/yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="3" heading="LỊCH SỬ MUA VÉ THÁNG">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div style="overflow:auto; width:100%;height:350px;">
                            <table class="table table-bordered" style="table-layout:fixed;">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;width:50px;">STT</th>
                                        <th width="200px">Ngày mua</th>
                                        <th width="200px">Ngày bắt đầu sử dụng</th>
                                        <th width="200px">Ngày kết thúc sử dụng</th>
                                        <th width="180px">Số tiền</th>
                                        <th width="100px">Loại xe</th>
                                        <th width="100px">Biến số xe</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in vmModal.Model.listTicketRegister">
                                        <td class="text-center;" style="width:50px;">{{row.index}}</td>
                                        <td width="200px">{{row.RegistrationDate | date: 'dd/MM/yyyy' }}</td>
                                        <td width="200px">{{row.DateStart | date: 'dd/MM/yyyy' }}</td>
                                        <td width="200px">{{row.DateEnd | date: 'dd/MM/yyyy' }}</td>
                                        <td style="text-align:right" width="180px">{{row.Amount | currency:'':0}}</td>
                                        <td width="100px">{{row.VehicleName}}</td>
                                        <td width="100px">{{row.PlateNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="4" heading="LỊCH SỬ GỬI XE">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div style="overflow:auto;width:100%;height:350px;">
                            <table class="table table-bordered" style="table-layout:fixed;">
                                <thead>
                                    <tr>
                                        <th width="50px">STT</th>
                                        <th width="150px">Biến số xe</th>
                                        <th width="150px">Bãi đỗ xe</th>
                                        <th width="150px">Ngày vào</th>
                                        <th width="150px">Ngày ra</th>
                                        <th width="150px">Giờ vào</th>
                                        <th width="150px">Giờ ra</th>
                                        <th width="150px">Thời gian gửi</th>
                                        <th width="100px">Loại vé</th>
                                        <th width="100px">Số tiền</th>
                                        <th width="150px">Người trông xe</th>
                                        <th width="120px">Tình trạng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in vmModal.Model.listHistoryParking">
                                        <td class="text-center" width="50px">{{row.index}}</td>
                                        <td width="150px">{{row.PlateNumber}}</td>
                                        <td width="150px">{{row.ParkingLotName}}</td>
                                        <td width="150px">{{row.DateIn | date: 'dd/MM/yyyy'}}</td>
                                        <td width="150px">{{row.DateOut | date: 'dd/MM/yyyy'}}</td>
                                        <td width="150px">{{row.TimeIn | ntsSecondFormat:'HH:mm:ss'}}</td>
                                        <td width="150px">{{row.TimeOut | ntsSecondFormat:'HH:mm:ss'}}</td>
                                        <td width="150px">{{row.TimeTotal| ntsSecondFormat:'HH:mm:ss'}}</td>
                                        <td width="50px">{{row.TicketType | convertTicketType}}</td>
                                        <td width="150px" style="text-align:right;">{{row.Amount | currency:'':0}}</td>
                                        <td width="150px">{{row.GuardianName}}</td>
                                        <td width="50px">{{row.Status | convertParkingStatus}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-disabled="outerForm.$invalid" data-ng-click="vmModal.FnSave()">
        <i class="fa fa-save"></i>&nbsp;<span>Lưu</span>
    </button>
    <button type="button" class="btn btn-danger" data-ng-click="vmModal.FnClose()">
        <i class="fa fa-power-off"></i> &nbsp;<span>
            Đóng
        </span>
    </button>
</div>
